$wd-line-height-base:   1 !default;
$wd-css-prefix:         wd !default;
$wd-webdings-suffix:    webdings !default;
$wd-wingdings-1-suffix: wingdings-1 !default;
$wd-wingdings-2-suffix: wingdings-2 !default;
$wd-wingdings-3-suffix: wingdings-3 !default;
$wd-border-color:       #eee !default;
$wd-inverse:            #fff !default;
$wd-li-width:           (30em / 14) !default;
