@import "~awesome-dings/scss/variables";
@import "~awesome-dings/scss/mixins";

$wd-extra-font-families: (
  segoe:  "Segoe MDL2 Assets",
  symbol: "Symbol"
);

@each $suffix, $font-family in $wd-extra-font-families {
  .#{$wd-css-prefix}-#{$suffix} {
    @extend %wd-base-icon;
    font-family: $font-family;
  }
}
