@import "../scss/awesome-dings";

$wd-extra-font-families: (
  segoe:  "Segoe MDL2 Assets",
  symbol: "Symbol"
);

@each $suffix, $font-family in $wd-extra-font-families {
  .#{$wd-css-prefix}-#{$suffix} {
    @include wd-icon($font-family);
  }
}
